// @media (max-width: 1200px)

// @media (max-width: 991px)
      
// @media (max-width: 767px)
    
// @media (max-width: 575px)
    

*
    font-family: 'Museo Sans', sans-serif

.container
    width: 950px

.promo
    min-height: 650px
    padding: 21px 0 93px 0